#!/usr/bin/env bash

# function bunmit() {
#   echo -e "\033[1;32mChecking gems to update...\033[0m"
#   bundle update && bundle exec rake test && git add Gemfile Gemfile.lock && git commit -m "Gem update" && git push
#   echo -e "\033[1;32mUpdate done\033[0m"
# }
# 
# function furypush() {
#   echo -e "\033[1;32mFury pushing...\033[0m"
#   git push --all && git push --tags && git push fury master
#   echo -e "\033[1;32mFury push\033[0m"
# }
